
body {
    font-family: sans-serif;
}

h1 {
    color: red;
}

.wrap {
    justify-content: center;
}

.centered {
    padding: 1em;
    background-color: bisque;
    display: flex;
}

.split-wrap {
    display: flex;
}

.split-wrap div {
    padding: 1em;
}

.left-box {
    background-color: pink;
}

.right-box {
    background-color: blueviolet;
}